.box-artist{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(100px + 62.52px) 0 100px 0;
}

.artist-item{
  width: 280px;
  /* overflow: hidden; */
  margin: 0 15px;
}

.artist-item img{
  width: 100%;
  height: auto;
}