@import url(../../assets/css/common.css);

.banner {
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 90px;
  height: 62.53px;
}

.redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
}

.item-link {
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0 15px;
  padding: 10px 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.item-link.active {
  color: var(--main-color);
  position: relative;
  top: 50%;
  transform: translateY(-23%);
}


.box-support {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-support {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

.item-support.en {
  width: 21px;
}

.main-word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 700;
  color: white;
  line-height: 54px;
}

.page-index {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.name-page {
  font-size: 16px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin: 0 20px;
}


.before-wave {
  display: none;
}

.item-link.active .before-wave {
  display: block;
}